body {
  margin: 0;
  padding-bottom: 100px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar { /* chrome and safari */
    display: none;
  }
}

.logo {
  height: auto;
  width: 80px;
  top: $spacing-xs;
  left: $spacing-xs;
  position: fixed;

  @media only screen and (min-width: $bp-md) {
    top: $spacing;
    left: $spacing;
    margin: 0;
    width: 80px;
  }
}

.part-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.35s ease-in-out;
  transition-delay: 0;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 35px;

  @media only screen and (min-width: $bp-md) {
    height: auto;
    padding-top: 80px;
    width: 430px;
  }

  @media only screen and (min-width: $bp-md) and (max-width: $bp-l) {
    // margin-bottom: 280px;
  }

  @media only screen and (min-width: $bp-l) {
    margin-left: 12.5%;
    margin-bottom: 122px; // footer height; 
    padding-right: 0;
  }
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 190px);
  margin-top: 86px;
  padding: $spacing-xs;
  box-sizing: border-box;
  display: block;
  
  @media only screen and (min-width: $bp-xxs) {
    height: calc(100vh - 135px);
  }
  @media only screen and (min-width: $bp-md) {
    margin-top: 0;
    padding: $spacing;
    height: 100vh;
    display: flex;
  }
}

.slide-arrow {
  position: fixed;
  width: 20px;
  height: auto;
  right: $spacing-xs;
  transition: transform 0.3s cubic-bezier(0.85, -0.49, 0.69, 1.03);
  cursor: pointer;

  &.up {
    transform: scale3d(0, 0, 0);
    top: calc(50% - 35px);
  }

  &.down {
    right: $spacing-xs;
    top: 50%;
  }

  @media only screen and (min-width: $bp-md) {
      left: calc(50% - 10px);
      right: auto;
      &.up {
        top: $spacing / 2;
        bottom: auto;
      }

      &.down {
        bottom: $spacing / 2;
        top: auto;
        transition-delay: .8s;
      }
  }

  @media only screen and (min-width: $bp-md) {
    width: 40px;
    left: calc(50% - 20px);
  }
}

.no-animate {
  animation: none !important;
}

.scrolled {
  .slide-arrow {
    &.up {
        transform: scale3d(1, 1, 1);
        transition-delay: .8s;
    }
    &.down {
        transform: scale3d(0,0,0);
        transition-delay: 0s;
    }
  }

  .part-2 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: $main-delay * 2;
  }
}