$primary-color: #ff4c00;
$secondary-color: #1f1f1f;

$spacing: 40px;
$spacing-xs: 10px;

$bp-xxs: 568px;
$bp-xs: 576px;
$bp-md: 768px;
$bp-l: 980px;
$bp-xl: 1024px;

$timing-function: cubic-bezier(0.51, 0.92, 0.24, 1.15);
$main-delay: 0.3s;